{% extends "structure/base.html" %}
{% block content %}
<h4 style = "text-align:center; padding-bottom:10px">Add a new Alloy Grade or delete an existing one!</h1>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th scope = "col">Alloy Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for item in alloygrades %}
                <tr> 
                    <td>{{ item.alloygrade}}</td>
                    <td><a class = "btn btn-danger" href = "{% url 'AlloyGrade-delete' item.id %}"> Delete </a></td>
                </tr>
                {% endfor %}
            </tbody>   
        </table>
        <a class = "btn btn-secondary" href = "../"> 	&#8592; Return </a>

    
{% endblock content %}