{% extends "structure/base.html" %}
{% block content %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th scope = "col">projectCode</th>
                <th scope = "col">projectName</th>
                <th scope = "col">clientName</th>
                <th scope = "col">clientEmail</th>
                <th scope = "col">clientPhone</th>
                <th scope = "col">clientAddress</th>
            </tr>
        </thead>
        <tbody>
            {% for item in filtered_results %}
            <tr> 
                <td>{{ item.projectCode }}</a></td>
                <td><a href = "{% url 'ProjectDetails-detail' item.id %}">{{ item.projectName }}</a></td>
                <td>{{ item.clientName }}</td>
                <td>{{ item.clientEmail }}</td>
                <td>{{ item.clientPhone }}</td>
                <td>{{ item.clientAddress }}</td>
            </tr>
            {% endfor %}
        </tbody>   
    </table> 
    <p></p>
    <a class = "btn btn-outline-info" href = "{% url 'ProjectDetails-create' %}"> New Project </a>

{% endblock content %}