{% extends "structure/base.html" %}
{% block content %}

    <h2>Project Code : {{object.projectCode}}</h2>
    <h2>Project Name : {{object.projectName}}</h2>
    <h2>Client Name : {{object.clientName}}</h2>
    <h2>Client Email : {{object.clientEmail}}</h2>
    <h2>Client Phone : {{object.clientPhone}}</h2>
    <h2>Client Address : {{object.clientAddress}}</h2>
    <p></p>
    <a class = "btn btn-secondary" href = "{% url 'ProjectDetails-update' object.id %}"> Update </a>
    <a class = "btn btn-danger" href = "{% url 'ProjectDetails-delete' object.id %}"> Delete </a>
    <a class = "btn btn-secondary" href = "{% url 'structureCalc' object.id %}"> Next -> </a>
{% endblock content %}