{% extends "structure/base.html" %}
{% load crispy_forms_tags %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section4" style = "top:80px;">
    <h4>Edit</h4>
      <div class="list-group">
        <a href = "structSpecs" class="list-group-item list-group-item-light"><i class="material-icons">folder_open</i> View Section Library</a>
      </div>
    </p>
  </div>
</div>
{% endblock %}
{% block content %}

  <h4> Choice of Section </h4>
  <div class = "dropdown">
    <label for="sectionview">System:</label>      
    <select id = "slct1" name = "sectionview" class = "form-control" onClick = "populate()">
      {% for result in sections %}
        <option>{{ result }}</option> 
      {% endfor %}
    </select> 
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked"> Automatically select the best option</label>
  </div>

  <div class = "dropdown">
    <label for="sectionNames">SectionNames:</label>      
    <select id = "slct2" name = "sectionNames" class = "form-control" onClick = "poputlateTwo()">
    </select>
  </div>

  <div class = "content-section" id = "sectionProperties">
    <p><i>Properties of the combined sections</i></p>
    <div class = "sectionLabel">
      <p><i>Section Drawing</i></p>
    </div>
    <label for="property1">I<sub>xx</sub> (cm<sup>4</sup>) = </label>
    <input type="text" id="property1" name="property1"><br><br>
    <label for="property2">W<sub>xx</sub> (cm<sup>3</sup>) = </label>
    <input type="text" id="property2" name="property2"><br><br>
    <img id = "sectionDrawing" class = "sectionDrawing">
  </div>
  <a class = "btn btn-info"  href = "#" style = "display: flex; justify-content: center;"> View Report &#10140; </a>
  <br><br>

  <p>AlloyGrade : {{alloygrade}}</p>
  <p>AlloyStrength : {{alloystrength}}</p>
  <p>lwidth : {{lwidth}}</p>
  <p>ShapeChoice : {{shapeChoice}}</p>
  <label for="testing">AlloyGrade =  </label>
  <input type="text" id="testing" name="testing"><br><br>
  <button onclick="testPop()">Test</button>

  <script type = "text/javascript">

  
    function populate() {
      clear();
      select = document.getElementById("slct1")
      
      console.log(select.value);
      {% for name in query %}
        if('{{name.system}}' == select.value){
          let nameSelect = document.querySelector('#slct2');
          let option;
          option = document.createElement("OPTION");
          option.innerText = '{{name.sectionName}}';
          option.value = '{{name.sectionName}}';
          nameSelect.appendChild(option);
        }
      {% endfor %}
      //console.log(names);

    }

    function clear(){
      select = document.getElementById("slct2");
      var length = select.options.length;
      for (i = length-1; i >= 0; i--) {
        select.options[i] = null;
      }
    }

    function poputlateTwo() {
      select = document.getElementById("slct2");
      {% for name in query %}
        if('{{name.sectionName}}' == select.value){
          document.getElementById('property1').value = '{{name.ixx}}' ;
          document.getElementById('property2').value = '{{name.wxx}}' ;
          document.getElementById('sectionDrawing').src = '{{ MEDIA_URL }}{{ name.drawing }}';
        }
      {% endfor %}  
    }
    function testPop(){
      testSelect = document.getElementById("testing");
      testSelect.value = '{{alloygrade}}' ;
    }

  </script>
{% endblock content %}


