{% extends "structure/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class = "dropdown">
    <label for="sectionview">System:</label>      
    <select id = "slct1" name = "sectionview" class = "form-control" onChange = "populate()">
      {% for result in sections %}
        <option>{{ result }}</option> 
      {% endfor %}
    </select> 
  </div>

  <div class = "dropdown">
    <label for="sectionNames">SectionNames:</label>      
    <select id = "slct2" name = "sectionNames" class = "form-control">
    </select>
  </div>

  <script type = "text/javascript">
    function populate() {
      clear();
      var names = []
      select = document.getElementById("slct1")
      
      console.log(select.value);
      {% for name in query %}
        if('{{name.system}}' == select.value){
          let nameSelect = document.querySelector('#slct2');
          let option;
          option = document.createElement("OPTION");
          option.innerText = '{{name.sectionName}}';
          option.value = '{{name.sectionName}}';
          nameSelect.appendChild(option);
        }
      {% endfor %}
      //console.log(names);

    }

    function clear(){
      select = document.getElementById("slct2");
      var length = select.options.length;
      for (i = length-1; i >= 0; i--) {
        select.options[i] = null;
      }
    }
  </script>
{% endblock content %}


