{% extends "structure/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 style = "text-align:center" class = "display-3">Structural Calculation</h1>
    <h4> Material Specifications </h4>
    <div class = "dropdown">
      <label for="alloygrade">Alluminium Alloy Grade:</label>
      <select name = "alloygrade" class = "form-control">
          {% for result in objects %}
          <option>{{ result.alloygrade }}</option>
          {% endfor %}
      </select>
    </div>

    <button class = "btn btn-secondary" a href = "" data-toggle = "modal" data-target = "#addAlloy">Add Alloy</a></button>

    <form method = "POST">
        {% csrf_token %}
        <div class="modal" tabindex="-1" id = "addAlloy">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add a new Alluminium Alloy Grade</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>{{form|crispy}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>
    </form>
    
    
    {% for result in mats %}
      <div class = "dropdown">
        <label for="matStr">Material Strength of Alloy according to:</label>
        <select name = "matStr" class = "form-control">
          <option>{{ result.name}}</option>
        </select>
      </div>
      <p>Permissible Bending Stress : {{ result.bendStress }} kg/cm<sup>2</sup></p>
    {% endfor %}

    <p>Elastic Modulus of Alluminium (E) : 700000 kg/cm <sup>2</sup></p>
    <p>
      Maximum Allowable Deflection (f<sub>m</sub>): l/ 
      <select>
        <option> 75 </option>
        <option> 100 </option>
        <option> 125 </option>
        <option> 150 </option>
        <option> 175 </option>
        <option> 200 </option>
        <option> 225 </option>
        <option> 250 </option>
        <option> 275 </option>
        <option> 300 </option>
      </select>
      or
      <input type="number" max = "23">
      mm   (whichever is less)
    </p>
    <p>
      Design Wind Load : 
      P = <input id = "windLoad" type = "number" oninput="lengthConverter(this.value)"> Pa
        or <span id = "output"></span> kg/cm
    </p>
    <p>
      Type of Loading : 
      <select>
        <option> Rectangular </option>
        <option> Trapezoidal </option>
      </select>
    </p>
    <p>
      Load Increase Coefficient
      <label>&gamma;<sub>s</sub> = </label>
      <input type = "float">
    </p>
    <p>
      Material Decrease Coefficient
      <label>&gamma;<sub>m</sub> = </label>
      <input type = "float">
    </p>
    <p>
      Unsupported Length
      <label> l = </label>
      <input type = "float" name = "length" id = "length"> m
    </p>
    <p>
      Left Panel Width
      <label> a = </label>
      <input type = "float" name = "lwidth" id = "lwidth"> m
    </p>
    <p>
      Right Panel Width
      <label> b = </label>
      <input type = "float" name = "rwidth" id = "rwidth"> m
    </p>
    <p>
      <button class = "btn btn-secondary" onclick="draw()">Show Diagram</button>
      <a class = "btn btn-secondary" href = "structSpecs"> Continue -> </a>
    </p>

    <p></p>
    <div class = "content-section2">
      <div class = "row">
        <canvas id = "myCanvas1" height = "100" width = "100" style="border:1px solid #c3c3c3;"></canvas>
        <canvas id = "myCanvas2" height = "100" width = "100" style="border:1px solid #c3c3c3;"></canvas>
      </div>
    </div>
    
  

    <script>
      function lengthConverter(valNum) {
        document.getElementById("output").innerHTML=valNum/100000;
      }

      function draw() {
        var canvas1 = document.getElementById("myCanvas1");
        var lwidth = document.getElementById('lwidth').value;
        var length = document.getElementById('length').value;
        var ctx = canvas1.getContext("2d");
        ctx.canvas.width  = lwidth * 50;
        ctx.canvas.height = length * 100;
        ctx.fillStyle = "#808080";
        ctx.fillRect((lwidth * 50)/2,0,(lwidth * 50 /2),(length * 100));

        var canvas2 = document.getElementById("myCanvas2");
        var rwidth = document.getElementById('rwidth').value;
        var ctx2 = canvas2.getContext("2d");
        ctx2.canvas.width  = rwidth * 50;
        ctx2.canvas.height = length * 100;
        ctx2.fillStyle = "#808080";
        ctx2.fillRect(0,0,(rwidth * 50/2),(length * 100));
      }
      
    </script>

    
    <!-- <a href = "" data-toggle = "modal" data-target = "#addMatStr">Add Alloy</a>
    <form method = "POST">
        {% csrf_token %}
        <div class="modal" tabindex="-1" id = "addMatStr">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add a new Alluminium Alloy Grade</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>{{form|crispy}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>
    </form> -->


    <!-- <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4"> Create Project</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit"> Save </button>
            </div>
        </form>
    </div>
    -->


    
{% endblock content %}