{% extends "structure/base.html" %}
{% load crispy_forms_tags %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section4">
    <h4>Edit</h4>
    <p class='text-muted'>Add and delete any Alloy Grade or Material strength.
      <div class="list-group">
        <a href = "alloyEdit" class="list-group-item list-group-item-light">Edit Alloy Grade</a>
        <a href = "matStrEdit" class="list-group-item list-group-item-light">Edit Material Strength</a>
      </div>
    </p>
  </div>
</div>
{% endblock %}

{% block content %}

    <h1 style = "text-align:center" class = "display-3">Structural Calculation</h1>
    <h4> Material Specifications </h4>
    <form action = "sectionView/" method = "POST">
      {% csrf_token %}
      <div class = "dropdown">
        <label for="alloygrade">Alluminium Alloy Grade:</label>      
        <select id = "alloygrade" name = "alloygrade" class = "form-control">
          {% for result in objects %}
            <option>{{ result.alloygrade }}</option> 
          {% endfor %}
        </select> 
      </div>

      <div class = "dropdown">
        <label for="alloystrength">Alloy Strength Specification:</label>      
        <select id = "alloyStrength" name = "alloyStrength" class = "form-control" onClick = selectBendStress()>
          {% for result in mats %}
            <option>{{ result.name }}</option> 
          {% endfor %}
        </select> 
      </div>
      <label for="bendStress">Permissible Bend Stress (kg/cm<sup>2</sup>) :  </label>
      <input type="text" id="bendStress" name="bendStress"><br><br> 
    

    <p>Elastic Modulus of Alluminium (E) : 700000 kg/cm <sup>2</sup></p>
    <p>
      Maximum Allowable Deflection (f<sub>m</sub>): l/ 
      <select id = "maxDeflection" name = "maxDeflection">
        <option> 75 </option>
        <option> 100 </option>
        <option> 125 </option>
        <option> 150 </option>
        <option> 175 </option>
        <option> 200 </option>
        <option> 225 </option>
        <option> 250 </option>
        <option> 275 </option>
        <option> 300 </option>
      </select>
      or
      <input type="number" max = "23">
      mm   (whichever is less)
    </p>
    <p>
      Design Wind Load :
      P = <input id = "windLoad" name = "windLoad" type = "number" oninput="lengthConverter(this.value)"> Pa
        or <span id = "output"></span> kg/cm
    </p>
    <p>
      Type of Loading : 
      <select name = "shapeChoice" id = "shapeChoice">
        <option> Rectangular </option>
        <option> Trapezoidal </option>
      </select>
    </p>
    <p>
      Load Increase Coefficient
      <label>&gamma;<sub>s</sub> = </label>
      <input type = "float" id = "liCoef" name = "liCoef">
    </p>
    <p>
      Material Decrease Coefficient
      <label>&gamma;<sub>m</sub> = </label>
      <input type = "float" id = "mdCoef" name = "mdCoef">
    </p>
    <p>
      Unsupported Length
      <label> &#8467; = </label>
      <input type = "float" name = "length" id = "length"> m
    </p>
    <p>
      Left Panel Width
      <label> a = </label>
      <input type = "float" name = "lwidth" id = "lwidth"> m
    </p>
    <p>
      Right Panel Width
      <label> b = </label>
      <input type = "float" name = "rwidth" id = "rwidth"> m
    </p>
    
    <p>
      <button class = "btn btn-info" type="submit"> Continue &#10140; </button>
    </p>
    </form>
    <button class = "btn btn-secondary" onclick="draw()">Show Diagram</button>

    <p></p>
    <div class = "content-section2">
      <div class = "row">
        <canvas id = "myCanvas1" height = "100" width = "100" style="border:1px solid #0c0202;"></canvas>
        <canvas id = "myCanvas2" height = "100" width = "100" style="border:1px solid #0c0202;"></canvas>
        <canvas id = "myCanvas5" height = "100" width = "100" style="border:none;"></canvas>
      </div>
      <div class = "row">
        <canvas id = "myCanvas3" class = "labelCanvas" height = "100" width = "100" style="border:none;"></canvas>
        <canvas id = "myCanvas4" class = "labelCanvas2" height = "100" width = "100" style="border:none;"></canvas>
      </div>
      
    </div>

  

    <script>
      function lengthConverter(valNum) {
        document.getElementById("output").innerHTML=valNum/100000;
      }

      function draw() {
        var shape = document.getElementById("shapeChoice");
        var canvas1 = document.getElementById("myCanvas1");
        var lwidth = document.getElementById('lwidth').value;
        var length = document.getElementById('length').value;
        var canvas2 = document.getElementById("myCanvas2");
        var rwidth = document.getElementById('rwidth').value;
        var ctx = canvas1.getContext("2d");
        var ctx2 = canvas2.getContext("2d");
        var canvas3 = document.getElementById("myCanvas3");
        var ctx3 = canvas3.getContext("2d");
        var canvas4 = document.getElementById("myCanvas4");
        var ctx4 = canvas4.getContext("2d");
        var canvas5 = document.getElementById("myCanvas5");
        var ctx5 = canvas5.getContext("2d");

        if (shape.value == "Rectangular") {
          
          ctx.canvas.width  = lwidth * 100;
          ctx.canvas.height = length * 100;
          ctx.fillStyle = "#808080";
          ctx.fillRect((lwidth * 100)/2,0,(lwidth * 100 /2),(length * 100));
          ctx3.canvas.width = lwidth * 100;
          drawHLabel(ctx3,lwidth,"a");
          ctx5.canvas.height = length * 100;
          drawVLabel(ctx5,length);

          ctx2.canvas.width  = rwidth * 100;
          ctx2.canvas.height = length * 100;
          ctx2.fillStyle = "#808080";
          ctx2.fillRect(0,0,(rwidth * 100/2),(length * 100));
          ctx4.canvas.width = rwidth * 100;
          drawHLabel(ctx4,rwidth,"b");        
          
        } else if (shape.value == "Trapezoidal") {
            ctx.canvas.width  = lwidth * 100;
            ctx.canvas.height = length * 100;
            ctx.fillStyle = "#808080";
            ctx.beginPath();
            ctx.moveTo(lwidth*100,length*100);
            ctx.lineTo(lwidth*100*0.5,length*100*0.75);
            ctx.lineTo(lwidth*100*0.5,length*100*0.25);
            ctx.lineTo(lwidth*100,length-length);
            ctx.closePath();
            ctx.stroke();
            ctx.fill();
            ctx3.canvas.width = lwidth * 100;
            drawHLabel(ctx3,lwidth,"a");
            ctx5.canvas.height = length * 100;
            drawVLabel(ctx5,length);

            ctx2.canvas.width  = rwidth * 100;
            ctx2.canvas.height = length * 100;
            ctx2.fillStyle = "#808080";
            ctx2.beginPath();
            ctx2.moveTo(rwidth-rwidth,length-length);
            ctx2.lineTo(rwidth*100*0.5,length*100*0.25);
            ctx2.lineTo(rwidth*100*0.5,length*100*0.75);
            ctx2.lineTo(rwidth-rwidth,length*100);
            ctx2.closePath();
            ctx2.stroke();
            ctx2.fill();
            ctx4.canvas.width = rwidth * 100;
            drawHLabel(ctx4,rwidth,"b");
        }

      }
      function drawHLabel(context,width,panel){
        context.beginPath();
        context.moveTo(0,5);
        context.lineTo(0,15);
        context.moveTo(0,10);
        context.lineTo(width*100,10);
        context.moveTo(width*100,5);
        context.lineTo(width*100,15);
        context.closePath();
        context.stroke();
        context.font="12px Arial";
        context.fillStyle = "red";
        context.textAlign = "center";
        context.fillText(panel + " = " + width + "m", (width/2) * 100, 25);
      }
      function drawVLabel(context,height){
        context.beginPath();
        context.moveTo(5,0);
        context.lineTo(15,0);
        context.moveTo(10,0);
        context.lineTo(10,height*100);
        context.moveTo(15,height*100);
        context.lineTo(5,height*100);
        context.stroke();
        context.font="12px Arial";
        context.fillStyle = "red";
        context.textAlign = "center";
        letter = '\u2113' ;
        context.fillText( letter + " = " + height + "m", 40, (height * 100)/2);
      }

      function selectBendStress(){
        select = document.getElementById("alloyStrength");
        {% for item in mats %}
          if('{{item.name}}' == select.value){
            document.getElementById('bendStress').value = '{{item.bendStress}}' ;
          }
      {% endfor %} 
      }

      function passVars(){
        const alloygrade = document.getElementById('alloygrade').value;
        const alloystrength = document.getElementById('alloyStrength').value;
        const bendStress = document.getElementById('bendStress').value;
        const maxDeflection = document.getElementById('maxDeflection').value;
        const windLoad = document.getElementById('windLoad').value;
        const shapeChoice = document.getElementById('shapeChoice').value;
        const liCoef = document.getElementById('liCoef').value;
        const mdCoef = document.getElementById('mdCoef').value;
        const length = document.getElementById('length').value;
        const lwidth = document.getElementById('ldwith').value;
        const rwidth = document.getElementById('rwidth').value;

        localStorage.setItem("ALLOYGRADE",alloygrade);
        sessionStorage.setItem("ALLOYSTRENGTH",alloystrength);
        sessionStorage.setItem("BENDSTRESS",bendStress);
        sessionStorage.setItem("MAXDEFLECTION",maxDeflection);
        sessionStorage.setItem("WINDLOAD",windLoad);
        sessionStorage.setItem("SHAPECHOICE",shapeChoice);
        sessionStorage.setItem("LICOEF",liCoef);
        sessionStorage.setItem("MDCOEF",mdCoef);
        sessionStorage.setItem("LENGTH",length);
        sessionStorage.setItem("LWIDTH",lwidth);
        sessionStorage.setItem("RWIDTH",rwidth);

        return;
      }  
    </script>
    
{% endblock content %}